<RadzenCard Style="display:block; padding:10px; margin-bottom:10px">
    <RadzenText TextStyle="TextStyle.H4" Style="margin:0%;">@(WebsiteLoc.OpenLetter)</RadzenText>
</RadzenCard>
<RadzenCard Style="margin-bottom:10px">
    <RadzenText TextStyle="TextStyle.Body1" Style="margin-top:0%;">@(WebsiteLoc.OpenLetterDescription)</RadzenText>
    <RadzenLink Path="https://regios.org.pl/index.php/2023/12/13/czas-na-slazakow-list-otwarty-do-premiera/" Text="@(WebsiteLoc.ReadMore)"></RadzenLink>
    <object data="https://regios.org.pl/wp-content/uploads/2023/12/List-otwarty-do-Premiera.pdf" style="width:1000px; height:1000px">
        <p>
            <RadzenLink Path="https://regios.org.pl/wp-content/uploads/2023/12/List-otwarty-do-Premiera.pdf" Text="@((WebsiteLoc.Content)+"->")"></RadzenLink>
        </p>
    </object>
</RadzenCard>

@code {

}
